<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="phrase"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          (click)="searchSentence()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Sentences List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let sentence of sentences; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveSentence(sentence, i)"
      >
        {{ sentence.phrase }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllSentences()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <app-sentence-details
      [viewMode]="true"
      [currentSentence]="currentSentence"
    ></app-sentence-details>
  </div>
</div>
